* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: normal;
  transition: 0.1s color;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  color: var(--color-text);
  background: var(--color-background);
}
.mobile-menu-open {
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.43);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
  }

  .nav {
    visibility: hidden;
    &-options__lang-btn.link-btn {
      transition: 0.2s ease opacity;
      opacity: 0;
    }

    .menu-open {
      visibility: visible;
    }
  }

  .MuiFormLabel-root {
    filter: blur(5.1px);
  }
}
